/* button {
  color:red;
}  */
.card, input {
  padding: 1%;
  display:block
}
.registrationform{
  display:none;
}
span .radioInline {
  display: inline-block;
}
.househelpSubmitForm{
  display:none;
  float:left;
}
.householdSubmitForm{
  display:none;
  float:right;
}
button {
  color:blue;
  font-style:white;
}
/* Styling for hire page */
.hirecard {
  float:left;
}