* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Text over slideshow */
.textonimage {
 position: absolute; 
 top: 200px; 
 float:left;
 padding-left: 1%;
  
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
*/ .active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
/* button {
  color:red;
}  */
.card,
input {
  padding: 1%;
  display: block;
}
.registrationform {
  display: none;
}
span .radioInline {
  display: inline-block;
}
.househelpSubmitForm {
  display: none;
  /* float: left; */
}
.householdSubmitForm {
  display: none;
  /* float: right; */
}
button {
  color: blue;
  font-style: white;
}
/* Opacity changes on hovering over checkboxes */
#checked {
  cursor:pointer;
  opacity:0.3;
  transition:all-ease 0.8s;
}
/* #checked:hover {
  opacity:1;
} */
/* Styling for hire page */
.hirecard {
  float: left;
}
.shadedarea {
  color: aqua;
  opacity: 0.8;
}
/* registration page styling */
.registrationform {
  display:block;
  padding: 1% 1%;
  margin: 10px 10px;
  background-color: ;
}
.textdiv {
  background-color: skyblue
}
.textblock {
  display:block;
  padding-top:65%;
  padding-bottom: 25%;
}
/* Add a black background on the navigation */
.navbar {
  background-color: #333;
  overflow: hidden;
}
/* Styling the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* change the color of links on hover */
.navbar a:hover {
  background-color: whitesmoke;
  color: black;
}
/* Add a color to the active/current link */
.navbar a.active {
  background-color: grey;
}
